<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>What kind of car are you?</title>
        <link rel="stylesheet" media="screen" href="style.css">
            
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Dallin Frank and Luke Summers">
        <meta name="robots" content="all">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="quiz.js"></script>
    </head>
    <body ng-app="Quiz">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>
            </div>
        </div>

        <script type="text/ng-template" id="/home.html">
            <div class="pls">
                <a ng-href="#/questions" class="button">Start the Quiz!</a>
            </div>
        </script>
      
        <script type="text/ng-template" id="/questions.html">
            <div>
                <div class="page-header">
                    <h3>{{questions[questionNumber].title}}</h3>
                </div>
        
                <div class="content">
                    <form ng-submit='addPoints()'>
                        <ul class="answers">
                            <input type="radio" name="q1" id="q1a" ng-click="currentSelection = 0"><label for="q10">{{questions[questionNumber].responses[0].text}}</label><br/>
                            <input type="radio" name="q1" id="q1a" ng-click="currentSelection = 1"><label for="q10">{{questions[questionNumber].responses[1].text}}</label><br/>
                            <input type="radio" name="q1" id="q1a" ng-click="currentSelection = 2"><label for="q10">{{questions[questionNumber].responses[2].text}}</label><br/>
                            <input type="radio" name="q1" id="q1a" ng-click="currentSelection = 3"><label for="q10">{{questions[questionNumber].responses[3].text}}</label><br/>
                            <input type="radio" name="q1" id="q1a" ng-click="currentSelection = 4"><label for="q10">{{questions[questionNumber].responses[4].text}}</label><br/>
                        </ul>
                        <div class="pls">
                            <a ng-click="addPoints()" ng-href="{{link}}" class="button">{{continue}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="/results.html">
            <div class="page-header">
                <h3>
                    {{result.title}}
                </h3>
            </div>

            <div class="images">
                <img ng-src="{{result.imgUrl}}" id="resultImg"/><br>
                <p>{{result.description}}</p>
            </div></br>

            <div class="pls">
                <a ng-href="#/questions" class="button">Retake the Quiz!</a>
            </div>
        </script>
    </body>

</html>