h3 {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    text-transform: uppercase;
}

label {
    margin-left: .5em;
}

input[type='radio'] {
    transform: scale(1.8);
}

.page-header {
    height: 4em;
}

.answers {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    margin-left: 2em;
    height: 11em;
}

.pls {
    text-align: center;
}

body {
    background-image: url("http://i.imgur.com/Y9oPVmw.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}

.button {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #74b807;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	background:-ms-linear-gradient( top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #89c403), color-stop(100%, #77a809) );
	background-color:#89c403;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528009;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #a4e271;
 	-moz-box-shadow:inset 1px 1px 0px 0px #a4e271;
 	box-shadow:inset 1px 1px 0px 0px #a4e271;
}
.button:hover {
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	background:-ms-linear-gradient( top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77a809), color-stop(100%, #89c403) );
	background-color:#77a809;
}
.button:active {
	position:relative;
	top:1px;
}